@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: "Roboto";
  overflow-x: hidden;
}
body.dark {
  background-color: #4ce0e4;
  opacity: 0.8;
  background-image: radial-gradient(circle at center center, #ffffff, #000000),
    repeating-radial-gradient(
      circle at center center,
      #ffffff,
      #ffffff,
      11px,
      transparent 22px,
      transparent 11px
    );
  background-blend-mode: multiply;
}

body.light {
  background-color: #4ce0e4;
  opacity: 0.8;
  background-image: radial-gradient(circle at center center, #ffffff, #4ce0e4),
    repeating-radial-gradient(
      circle at center center,
      #ffffff,
      #ffffff,
      11px,
      transparent 22px,
      transparent 11px
    );
  background-blend-mode: multiply;
}

.page-item.active > .page-link {
  color: #000000 !important;
  background-color: #03b8c9 !important;
}

.page-item .page-link {
  color: #000000 !important;
}

.leaderboard-wrapper {
  /* border: 2px solid #79ece7;
  border-radius: 10px; */
  margin: 0 auto;
  max-width: 1000px;
  width: 980px;
  margin-bottom: 10px;
  background-color: transparent;
  z-index: 999;
}

.players-list {
  margin: 0;
  display: block;
  padding: 30px 10px;
}

.players-data {
  list-style-type: none;
  display: flex;
  padding: 10px;
  height: 70px;
  margin-bottom: 6px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: transform 0.2s; /* Animation */
}

.players-data:hover {
  transform: scale(1.1);
}
.players-data-wrapper {
  background-color: #fff;
  /* color: #000; */
  height: 60px;
  border-radius: 5px;
  width: 700px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  border: 1px solid #000;
}

.players-data-wrapper.gold {
  background-color: #ffd700;
}

.players-data-wrapper.silver {
  background-color: #c0c0c0;
}

.players-data-wrapper.bronze {
  background-color: #cd7f32;
}

.players-eid {
  width: 280px;
  vertical-align: middle;
  line-height: 60px;
  color: #fff;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  text-transform: uppercase;
}

.players-project {
  width: 200px;
  vertical-align: middle;
  line-height: 60px;
  color: #fff;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  text-transform: uppercase;
}

.players-score {
  width: 60px;
  vertical-align: middle;
  line-height: 60px;
  color: #fff;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.players-data-wrapper.gold .players-eid,
.players-data-wrapper.gold .players-project,
.players-data-wrapper.gold .players-score {
  font-size: 20px;
}

.players-project.compress {
  font-size: 14px !important;
}

.players-rank {
  height: 60px;
  width: 60px;
}

.players-rank p {
  font-size: 30px;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}

.players-pic {
  height: 60px;
  width: 60px;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}

.title-header {
  width: 300px;
  position: relative;
  margin: 0 auto 20px;
  padding: 10px 40px;
  text-align: center;
  background-color: #ff0c5c;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.title-header::before,
.title-header::after {
  content: "";
  width: 80px;
  height: 100%;
  background-color: #ff0c5c;

  /* position ribbon ends behind and slightly lower */
  position: absolute;
  z-index: 999;
  top: 20px;

  /* clip ribbon end shape */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);

  /* draw and position the folded ribbon bit */
  background-image: linear-gradient(45deg, transparent 50%, #5d3922 50%);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.title-header::before {
  left: -60px;
}

.title-header::after {
  right: -60px;
  transform: scaleX(-1); /* flip horizontally */
}

.add-action-btns {
  display: flex;
  justify-content: flex-end;
}

.add-save-btn,
.delete-btn {
  background-color: #ff0c5c !important;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.add-close-btn {
  margin-right: 10px;
}

.form-control {
  border: 1px solid black;
}

.add-btn {
  margin-left: 40px;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #ff0c5c !important;
}

.add-btn:hover,
.add-save-btn:hover,
.delete-btn:hover,
.add-btn:visited,
.add-save-btn:visited,
.delete-btn:visited {
  background-color: #ff0c5c !important;
}

.placeholder-wrapper {
  text-align: center;
  padding: 30px;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.placeholder-wrapper h3 {
  margin-top: 3rem;
}

.placeholder-wrapper h2 {
  margin-bottom: 3rem;
}

.button-header {
  position: relative;
  left: 74%;
}

.area {
  background: #4ce0e4;
  background: -webkit-linear-gradient(to left, #79ece7, #00788c);
  pointer-events: none;
  /* height: 100vh; */
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* Container for bouncing text */
.bouncing-text {
  display: inline-block;
  white-space: nowrap;
  font-size: 3rem;
  font-weight: bold;
}

/* Individual word styling */
.word {
  display: inline-block;
  animation: bounce 1.5s ease-in-out infinite;
  padding: 0 10px;
  transition: transform 0.2s ease-in-out;
}

/* Create a bounce effect with @keyframes */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Staggering animation for each word */
.word:nth-child(1) {
  animation-delay: 0s;
}
.word:nth-child(2) {
  animation-delay: 0.2s;
}
.word:nth-child(3) {
  animation-delay: 0.4s;
}
.word:nth-child(4) {
  animation-delay: 0.6s;
}

.word:nth-child(5) {
  animation-delay: 0.8s;
}

.word:nth-child(6) {
  animation-delay: 1s;
}

.word:nth-child(7) {
  animation-delay: 1.2s;
}
